<!DOCTYPE html>
<html>
  <head>
    <title>Tacostagram Final</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body>
    <p>
      <% @user = User.find_by({ "id" => session["user_id"] }) %>
      <% if @user == nil %>
        <!-- if no user logged-in, display signup and login links -->
        <a href="/users/new">Sign Up</a>
        |
        <a href="/login">Login</a>
      <% else %>
        <!-- else, if user logged-in, display user name and logout link -->
        Hey, <%= @user["username"] %>
        |
        <a href="/logout">Logout</a>
      <% end %>
    </p>

    <p>
      <%= flash["notice"] %>
    </p>

    <%= yield %>
  </body>
</html>
